<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>about this APP</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">About this app</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Log in Page</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="./picture/overwatch2.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>What is overwatch?</h1>
              <p>Overwatch is a team-based online multiplayer first-person shooter video game developed and published by Blizzard Entertainment. It was released in May, 2016, for Windows, PlayStation 4, and Xbox One.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="https://images4.alphacoders.com/553/553496.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Game modes</h1>
              <p>Overwatch features several means of gameplay, including tutorials and practice modes against computer-controlled opponents, casual matchmaking, weekly brawls, custom games, and competitive play.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://www.blizzguides.com/images/upload/696-mei-2.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Characters.</h1>
              <p>The cast of playable characters in Overwatch was selected to portray diverse representations of genders and ethnicities, including males, females, and non-human characters such as robots and a gorilla.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://images3.alphacoders.com/771/771647.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Rule</h2>
          <p>Overwatch assigns players into two teams of six, with each player selecting one of 24 pre-defined characters, called heroes, each with unique movement, attributes, and abilities, whose roles are divided into four categories: Offense, Defense, Tank, and Support. Players on a team work together to secure and defend control points on a map or escort a payload across the map in a limited amount of time.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://www.hdwallpapers.in/walls/tracer_overwatch_fan_art_4k-HD.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Announcement</h2>
          <p>Overwatch was formally announced at the BlizzCon event on November 7,2014.the game was playable during the event to all attendees, with fourteen characters available to select from.During this event Blizzard released a cinematic trailer and an extended gameplay video for the game.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://8gmwp015fo-flywheel.netdna-ssl.com/wp-content/uploads/sites/10/2015/11/Genji.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Plot</h2>
          <p>Overwatch is set sixty years into the future of a fictionalized Earth, thirty years after the resolution of the "Omnic Crisis". Prior the Omnic Crisis, humanity had been in a golden age of prosperity and technology development. Humans developed robots with artificial intelligence called "Omnics", which were produced worldwide in automated "omnium" facilities and put to use to achieve economic equality. The Omnic Crisis began when the omniums started producing a series of lethal, hostile robots, which turned against humankind. The United Nations quickly formed Overwatch, an international task force to combat the omnic threat and restore order.</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Nerf this<span class="text-muted">Will collect user`s game result</span></h2>
          <p class="lead">Base on different map, it will provide the hero combination which has most high win ratio to user. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://images2.alphacoders.com/674/674942.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">More Data.<span class="text-muted">Means more accuracy.</span></h2>
          <p class="lead">Our app "Nerf this" is a new user frendly app, it will always provide a new user friendly hero.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://www.highdefdigest.com/uploads/jb/25458587816_301295487a_b.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Don`t forget to updata your game result.<span class="text-muted">It will help everyone.</span></h2>
          <p class="lead">Base on our advanced technology，you will be the winer!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://www.logicalincrements.com/assets/img/articles/overwatch/overwatch8.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Nerf this, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
