extends layout

block content
<h1></h1>
<p></p>
<br>
<button onclick="signinGoogle()">Log In with Google</button>
<br><br>

  h1= title
  p Welcome to #{title}
  br
  button(onclick="signinGoogle()") Log In with Google
  br
  br
  label Username
  input(id='username')
  br
  label Password
  input(id='password', type='password')
  br
  button(onclick="signinDb()") Log In

script.
  var auth0 = new auth0.WebAuth({
    domain: 'c297009200.auth0.com',
    clientID: '3xkP3A140ZIuihnJ6XAL1Eh6GtCms0ma',
    redirectUri: 'http://localhost:3000/callback'
  });

  function signinGoogle() {
    auth0.authorize({
      connection: 'google-oauth2',
      responseType: 'code'
    });


 function signinDb() {
    auth0.redirect.loginWithCredentials({
      connection: 'Username-Password-Authentication',
      username: document.getElementById('username').value,
      password: document.getElementById('password').value,
      responseType: 'code'
    });
  }
