#char-suggest {
    background-color: lemonchiffon;
    padding: 30px;
    border: 1.5px #222 solid;
    border-radius: 10px;
    margin: 1% 0;
    height: 373.5px;
}

#menu-select {
    background-color: lemonchiffon;
    padding: 30px;
    border: 1.5px #222 solid;
    border-radius: 10px;
    margin: 1% 0;
}